<h2>Uppgiftsbeskrivningen</h2>
<p> Det här projektet är skapat till moment 3 i kursen dt208g och uppgiften är löst enligt instruktionerna i uppgiftsbeskrivningen.
      I den här uppgiften har jag skapat min första webbplats som bygger på Angular. Jag hade aldrig tidigare jobbat med ramverk så det var en spännande uppgift.
      Enligt instruktionerna ska webbplatsen innehålla tre undersidor, min webbplats innehåller hemsida, bild- och konvertera-sidan.
      I webbplatsen ska vi ha en sida där uppgiften är beskriven (denna sida), en sida som innehåller bild (bild-sidan), för att lägga till statiska filer som bild till en angular uppgift ska man lägga den i assets-katalogen. 
      Där har jag gjort en mapp som heter images och i den har jag mina bilder. Jag har tagit bilderna själv så jag har inte skrivit någon källa till dem.
      Den sista webbsidan heter konvertera i den ska man kunna konvertera feet till meter, celcius till farenheit och vica versa. Jag har löst det med hjälp av datainbindning. 
      Längst upp i sidn har jag en nav-bar som är horizontal i större enheter och i mindre enheter blir den vertical.
      Jag har stilat webbsidan med css, i styles.css har jag stilat hela webb platsen och för att stila specifika delar i enskilda webbsidor har jag stilat i css till varje komponent. 
      Webbplatsen är naturligtsvis respponsiv. 
      Det är mycket enklare att göra webbplatser med hjälp av Angular, man kan anväda sig av komponenter och skriva kod till varje komponent på så sätt har allt mycket bättre struktur och man kan använda komponenterna i andra webbplatser. 
      Att installera Angular och börja jobba med det är mycket enkelt så jag gillar det verkligen. Man kodar med TypeScript det som vi har lärt oss under denna kurs så det finns inga svårigheter med det. Webbplatsen som jag har gjort är verkligen enkel men det var en bra bröjan för att kunna jobba med Angular. 



</p>
